@import "../../node_modules/modern-normalize/modern-normalize.css";
@import "../assets/fonts/fonts.css";

:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-text-dark: var(--color-dark);
  --color-text-gray: #545454;
}

html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.gradual-change {
  transition: all 0.5s ease-in-out;
}
