.page {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 36px;
  margin: 0;
  
  background-color: var(--color-dark);
  color: var(--color-light);

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page__margin {
  margin: 0;
}

@media screen and (min-width: 880px) {
  .page {
    padding: 0 calc((100% - 880px) / 2);
  }

  .page__margin {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .page {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}
