.card {
  height: 361px;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.card__image {
  display: block;
  width: 100%;
  height: 282px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}

.card__description {
  width: 100%;
  padding: 25px 20px 30px 20px;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-light);
  border-radius: 0 0 10px 10px;
  color: var(--color-text-dark);
}

.card__title {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 24px;  
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-group {
  padding: 0;
  margin: 0;
}

