.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 19px;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;  
}

.popup_visible {
  visibility: visible;
  opacity: 1;
}

.popup__button {
  position: absolute;
  top: -36px;
  right: 0;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .popup__button {
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
  }
}